@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

body, html {
  height: 100%;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body {
  background-image: url(media/contact_background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  backdrop-filter: blur(3px); 
  height: 100%;
}

.logo {
  width: 120px;
  height: 30px;
  cursor: pointer;
  filter: brightness(0) invert(1);
}

.navbar .navbar-nav {
  gap: 20px;
}

.navbar-nav .nav-item .nav-link {
  font-size: 16px;
  padding: 0px 15px;
}

.navbar-icons i {
  font-size: 20px;
  margin: 0 10px;
}

.contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.contact-form {
  background-color: rgba(198, 198, 198, 0.85);
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  width: 400px;
  z-index: 10;
  position: relative;
}

footer {
  color: #fff;
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.step {
  display: none;
}
.active {
  display: block;
}
